{% set intvars = interfaces[ansible_hostname] %}
{% set neighborvars = intvars['neighbors'] %}
# /etc/network/interfaces template for servers ({{ansible_hostname}})
# Created by Ansible

auto lo
iface lo inet loopback
    post-down ip addr dev lo flush

auto lo
iface lo inet static
    address {{ intvars.loopback }}/32

{% for neighbor in intvars.neighbors %}
auto {{ neighbor }}
iface {{ neighbor }} inet static
    address {{ intvars.loopback }}/32
{% endfor %}


auto eth0
iface eth0 inet dhcp
